img {
  width: 100px;
  height: 80px
  border-radius:100px;
}
body{
  text-align: center;
  background-color: #171718;
  color:white;
  font-family: 'ZCOOL XiaoWei', serif;
  font-size: 24px;
}
#images {
  float: right;
}
img{
  width: 250px;
  height:200px;
}
span{
  color: #F45328;
}
.headings{
  background-image: url('https://images.pexels.com/photos/1340382/pexels-photo-1340382.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');
  background-size: cover;
  height: 500px;
  margin-top: 0 auto;
}
.content{
  padding-top: 30px;
  width: 100%;
  text-align: center;
  margin-right: 45px;
}
input{
  padding: 15px;
  box-shadow: 4px 4px 5px #DF594B;
}
.form{
  float: left;
  clear: none;
}
