img {
  width: 100px;
  height: 80px
  border-radius:100px;
}
body{
  text-align: left;
  background-color: #171718;
  color:white;
  font-family: 'ZCOOL XiaoWei', serif;
  font-size: 24px;
}
h4{
  text-align: center;
  text-decoration: underline #F45328 ;
}
#images {
  float: right;
}
img{
  width: 250px;
  height:200px;
}
span{
  color: #F45328;
}
.headings{
  background-image: url('https://images.pexels.com/photos/1340382/pexels-photo-1340382.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');
  background-size: cover;
  height: 500px;
  margin-top: 0 auto;
}
.content{
  padding-top: 30px;
  width: 100%;
  text-align: center;
  margin-right: 45px;
}
.form{
  text-align: center;
}
input{
  padding: 15px;
  box-shadow: 4px 4px 5px #DF594B;
  margin-right: 10px;
  border-radius: 20px;
}
.form{
  float: left;
  clear: none;
}
fieldset{
  text-align: center;
  border-radius: 45px;
  padding-left: 18px;
  padding-right: 18px;
  padding-top: 18px;
  padding-bottom: 18px;
}
a{
  text-decoration: none;
  color: #F45328;
}
a:hover{
  color:#F56B4F;
  text-decoration: underline;
}
#submit{
  margin-top: 10px;
}
#submit:hover{
  text-transform: uppercase;
  color: #F56B4F;
}
