img {
  width: 100px;
  height: 80px
  border-radius:100px;
}
body{
  text-align: center;
  background-color: #171718;
  color:white;
  font-family: 'Courgette', cursive;
  font-size: 24px;
}
#images {
  float: right;
}
img{
  width: 250px;
  height:200px;
}
.headings{
  background-image: url('https://images.pexels.com/photos/1340382/pexels-photo-1340382.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');
  background-size: cover;
  height: 500px;
}
.content{
  background-image: url('https://images.pexels.com/photos/1340397/pexels-photo-1340397.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');
  background-size: cover;
  height: 350px;
  padding-top: 30px;
  width: 500px;
  text-align: center;
  margin-right: 45px;
}
input{
  padding: 20px;
  box-shadow: 4px 4px 5px #DF594B;
}
#test {
  float: right;

border: 2px orange;
